<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	</ion-nav-buttons>
	<ion-nav-title>
		<span class="font-light">{{ 'ACUERDO' | translate }}</span>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
			<ion-list can-swipe="listCanSwipe">
			  <div class="item">			
			   	{{ 'CATEGORIA' | translate }}
			    <span class="item-note">{{ac.acuerdo.categoria.nombre}}</span>
			  </div>
			  <ion-item>			
			    {{ 'ACUERDO' | translate }}
			    <p>{{ac.acuerdo.titulo}}</p>
			  </ion-item>
			  <div class="item">
			    {{ 'FECHAINICIO' | translate }}
			    <span class="item-note">{{ac.acuerdo.fechaInicio | date : "dd-MM-yyyy"}}</span>
			  </div>
			  <div class="item">
			    {{ 'FECHALIMITE' | translate }}
			    <span class="item-note">{{ac.acuerdo.fechaLimite | date : "dd-MM-yyyy HH:mm"}}</span>
			  </div>
			  <div class="item item-button-right">
			    {{ 'RESPONSABLES' | translate }}
			    <button class="button bg-color-green color-white" ng-click="ac.verResponsables = !ac.verResponsables;">
			      <i class="icon ion-person-stalker"></i>
			    </button>
			  </div>
			  <ion-item ng-repeat="participante in ac.acuerdo.responsables" class="item-avatar" style="margin-left: 15px;" ng-show="ac.verResponsables">
			  	<img src="{{participante.invitado.profile.picture}}">
			    {{participante.invitado.profile.name}}
			    <p>{{participante.invitado.profile.email}}</p>
			  </ion-item>
			  <div class="item">		
			    {{ 'PRIORIDAD' | translate }}
			    <span class="item-note" ng-show="ac.acuerdo.prioridad == 0">{{ 'BAJA' | translate }}</span>
			    <span class="item-note" ng-show="ac.acuerdo.prioridad == 50">{{ 'MEDIA' | translate }}</span>
			    <span class="item-note" ng-show="ac.acuerdo.prioridad == 100">{{ 'ALTA' | translate }}</span>
			  </div>
			  <div class="item">
			    {{ 'ESTATUS' | translate }}
			    <span class="item-note" ng-show="ac.acuerdo.estatus == 1">{{ 'ACTIVO' | translate }}</span>
			    <span class="item-note" ng-show="ac.acuerdo.estatus == 2">{{ 'CERRADO' | translate }}</span>
			    <span class="item-note" ng-show="ac.acuerdo.estatus == 3">{{ 'VENCIDO' | translate }}</span>
			  </div>
			  <div class="item">
			    {{ 'FECHACIERRE' | translate }}
					<span class="item-note">{{ac.acuerdo.fechaCierre | date : "dd-MM-yyyy"}}</span>
			  </div>
			  <div class="item">
			    {{ 'REPETIR' | translate }}
			    <span class="item-note">{{ac.acuerdo.repetir}}</span>
			  </div>
			  <div class="item">
			    {{ 'HASTA' | translate }}
			    <span class="item-note">{{ac.acuerdo.hasta | date:"dd-MM-yyyy"}}</span>
			  </div>
			  <div class="item item-button-right">
			    {{ 'SEGUIDORES' | translate }}
			    <button class="button bg-color-green color-white" ng-click="ac.verSeguidores = !ac.verSeguidores;">
			      <i class="icon ion-android-people"></i>
			    </button>
			  </div>
			  <ion-item ng-repeat="participante in ac.acuerdo.seguidores" style="margin-left: 15px;" class="item-avatar" ng-show="ac.verSeguidores">			
				  <img src="{{participante.invitado.profile.picture}}">
			    {{participante.invitado.profile.name}}
			    <p>{{participante.invitado.profile.email}}</p>
			  </ion-item>
			   <div class="item item-button-right">
			    {{ 'TEMAS' | translate }}
			    <button class="button bg-color-green color-white" ng-click="ac.verTemas = !ac.verTemas;">
			      <i class="icon ion-clipboard"></i>
			    </button>
			  </div>
			  <ion-item ng-repeat="tema in ac.acuerdo.temasSeparados" style="margin-left: 15px;" ng-show="ac.verTemas">			
			    {{tema}}
			  </ion-item>
<!--
			  <div class="item">
			    {{ 'AGREGARACALENDARIO' | translate }}
			    <span class="item-note" ng-show="ac.acuerdo.calendario == true">Sí</span>
			    <span class="item-note" ng-show="ac.acuerdo.calendario == false">No</span>
			  </div>
			  <div class="item">
			    {{ 'RECORDATORIOS' | translate }}
			    <span class="item-note" ng-show="ac.acuerdo.recordatorios == true">Sí</span>
			    <span class="item-note" ng-show="ac.acuerdo.recordatorios == false">No</span>
			  </div>
-->
			</ion-list>
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #82e79d;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>