<ion-view class="forms-view">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='nac.save()'></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="font-light">Nuevo Acuerdo</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list list-inset">
	    <div class="item item-input-inset item-stacked-label">
	      <span class="input-label">Categoría</span>
		    <label class="item-input-wrapper">
		      <select ng-model="nac.acuerdo.categoria_id" style="width: 100%">
			      <option ng-repeat="categoria in nac.categorias" value="{{categoria._id}}">{{categoria.nombre}}</option>			      
			    </select>
		    </label>
		  </div>
	    <label class="item item-input-inset item-stacked-label">
        <span class="input-label">Acuerdo</span>
        <label class="item-input-wrapper">
	        <input type="text" ng-model="nac.acuerdo.titulo" class="full">
        </label>
      </label>
      <label class="item item-input-inset item-stacked-label">
        <span class="input-label">Descripción</span>
        <label class="item-input-wrapper">
	        <textarea type="text" ng-model="nac.acuerdo.descripcion" rows="3" style="width: 100%; background-color: transparent;"></textarea>
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Fecha inicio</span>
        <input type="date" ng-model="nac.acuerdo.fechaInicio">
      </label>
      <label class="item item-input">
        <span class="input-label">Fecha límite</span>
        <input type="datetime" ng-model="nac.acuerdo.fechaLimite">
      </label>
      <div class="item timeline-item" ng-click="nac.selResponsables()">
	      Responsables
	      <div class="timeline-stats">
          <i class="ion-person color-green"></i> {{nac.acuerdo.responsables.length}}
        </div>
	    </div>
	    <label class="item item-input-insert item-stacked-label range">
        <span class="input-label color-green" ng-show="nac.acuerdo.prioridad == 0">Baja</span>
		    <span class="input-label color-yellow" ng-show="nac.acuerdo.prioridad >= 50 && nac.acuerdo.prioridad <= 99">Media</span>
		    <span class="input-label color-red" ng-show="nac.acuerdo.prioridad == 100">Alta</span>
		    <label class="item-input-wrapper">
	        <i class="icon ion-minus-round"></i>
			    <input type="range" min="0" max="100" value="50" step="50" ng-model="nac.acuerdo.prioridad">
			    <i class="icon ion-plus-round"></i>
		    </label>
      </label>
      <div class="item item-input-inset item-stacked-label">
	      <span class="input-label">Estado</span>
		    <label class="item-input-wrapper">
		      <select ng-model="nac.acuerdo.estatus" style="width: 100%">
			      <option value="1">Activo</option>
			      <option value="2">Cerrado</option>
			      <option value="3">Vencido</option>
			    </select>
		    </label>
		  </div>
		  <label class="item item-input">
        <span class="input-label">Fecha cierre</span>
        <input type="date" ng-model="nac.acuerdo.fechaCierre">
      </label>
      <label class="item item-input item-select">
		    <div class="input-label">
		      Repetir
		    </div>
		    <select ng-model="nac.acuerdo.repetir">
		      <option>Nunca</option>
		      <option>Todos los días</option>
		      <option>Cada semana</option>
		      <option>Cada dos semanas</option>
		      <option>Cada mes</option>
		      <option>Cada año</option>
		    </select>
		  </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Hasta</span>
        <input type="date" ng-model="nac.acuerdo.hasta">
      </label>
      <div class="item timeline-item" ng-click="nac.selSeguidores()">
	      Seguidores
	      <div class="timeline-stats">
          <i class="ion-person color-green"></i> {{nac.acuerdo.seguidores.length}}
        </div>
	    </div>
	    <div class="item item-input-inset item-stacked-label">
	      <span class="input-label">Temas</span>
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Temas" ng-model="nac.acuerdo.temas" class="full">
		    </label>
		  </div>
		  
      <ul class="list">
	      <li class="item item-toggle">
			     Agregar a calendario
			     <label class="toggle toggle-positive">
			       <input type="checkbox" checked ng-model="nac.acuerdo.calendario">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			  <li class="item item-toggle">
			     Recordatorios
			     <label class="toggle toggle-positive">
			       <input type="checkbox" checked ng-model="nac.acuerdo.recordatorios">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #82e79d;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>