<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='nrc.save()'></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<span class="font-light" ng-if="!nrc.reunionId">Nueva Reunión</span>
		<span class="font-light" ng-if="nrc.reunionId">Editar Reunión</span>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">Título</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='nrc.reunion.titulo'>
				</label>
			</label>
			<label class="item item-input">
				<span class="input-label">Fecha</span>
				<input type="date" ng-model='nrc.reunion.fecha'>
			</label>
			<label class="item item-input">
				<span class="input-label">Hora inicio</span>
				<input type="time" ng-model='nrc.reunion.horaInicio'>
			</label>
			<label class="item item-input">
				<span class="input-label">Hora fin</span>
				<input type="time" ng-model='nrc.reunion.horaFin'>
			</label>
			<div class="item item-input-inset item-stacked-label">
				<span class="input-label">Categoría</span>
				<label class="item-input-wrapper">
					<select ng-model='nrc.reunion.categoria'  style="width: 100%">
						<option value="{{categoria._id}}" ng-repeat="categoria in nrc.categorias">{{categoria.nombre}}</option>
					</select>
				</label>
			</div>
			<label class="item item-input-inset">
				<span class="input-label">Ubicación</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='nrc.reunion.ubicacion'>
				</label>
			</label>
			<div class="item item-input-inset item-stacked-label">
	      <span class="input-label">Temas</span>
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Temas" ng-model="nrc.reunion.temas">
		    </label>
		  </div>
			<label class="item item-input-inset">
				<span class="input-label">Convoca</span>
				<label class="item-input-wrapper">
				<input type="text" value="{{currentUser.profile.name}}" ng-model='nrc.reunion.convoca'>
				</label>
			</label>
	    <div class="item timeline-item" ng-click="nrc.selParticipantes()">
	      Participantes
	      <div class="timeline-stats">
          <i class="ion-person color-green"></i> {{nrc.getConfirmados(nrc.reunion.users)}}
          <i class="ion-person color-yellow"></i> {{nrc.getPendientes(nrc.reunion.users)}}
          <i class="ion-person color-red"></i> {{nrc.getRechazados(nrc.reunion.users)}}
        </div>
	    </div>
			<label class="item item-input item-select">
				<div class="input-label">
					Repetir
				</div>
		    <select ng-model='nrc.reunion.repetir'>
		      <option>Nunca</option>
		      <option>Todos los días</option>
		      <option>Cada semana</option>
		      <option>Cada dos semanas</option>
		      <option>Cada mes</option>
		      <option>Cada año</option>
		    </select>
		  </label>
      <label class="item item-input">
        <span class="input-label">Hasta</span>
        <input type="date" ng-model='nrc.reunion.hasta'>
      </label>
      <ul class="list">
			  <li class="item item-toggle">
			     Alertas
			     <label class="toggle toggle-yellow">
			       <input type="checkbox" checked ng-model="nrc.reunion.alertas">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>