<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='nrc.save()'></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<span class="font-light" ng-if="!nrc.reunionId">{{ 'NUEVAREUNION' | translate }}</span>
		<span class="font-light" ng-if="nrc.reunionId">{{ 'EDITARREUNION' | translate }}</span>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
			<label class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'TITULO' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='nrc.reunion.titulo' class="full">
				</label>
			</label>
			<label class="item item-input">
				<span class="input-label">{{ 'FECHA' | translate }}</span>
				<input type="date" ng-model='nrc.reunion.fecha'>
			</label>
			<label class="item item-input">
				<span class="input-label">{{ 'HORAINICIO' | translate }}</span>
				<input type="time" ng-model='nrc.reunion.horaInicio'>
			</label>
			<label class="item item-input">
				<span class="input-label">{{ 'HORAFIN' | translate }}</span>
				<input type="time" ng-model='nrc.reunion.horaFin'>
			</label>
			<div class="item item-input-inset item-stacked-label">
				<span class="input-label">{{ 'CATEGORIA' | translate }}</span>
				<label class="item-input-wrapper">
					<select ng-model='nrc.reunion.categoria'  style="width: 100%">
						<option value="{{categoria._id}}" ng-repeat="categoria in nrc.categorias">{{categoria.nombre}}</option>
					</select>
				</label>
			</div>
			<label class="item item-input-inset">
				<span class="input-label">{{ 'UBICACION' | translate }}</span>
				<label class="item-input-wrapper">
					<input type="text" ng-model='nrc.reunion.ubicacion' class="full">
				</label>
			</label>
			<div class="item item-input-inset item-stacked-label">
	      <span class="input-label">{{ 'TEMAS' | translate }}</span>
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Temas" ng-model="nrc.reunion.temas" class="full">
		    </label>
		  </div>
			<label class="item item-input-inset">
				<span class="input-label">{{ 'CONVOCA' | translate }}</span>
				<label class="item-input-wrapper">
				<input type="text" value="{{currentUser.profile.name}}" ng-model='nrc.reunion.convoca' class="full">
				</label>
			</label>
	    <div class="item timeline-item" ng-click="nrc.selParticipantes()">
	      {{ 'PARTICIPANTES' | translate }}
	      <div class="timeline-stats">
          <i class="ion-person color-green"></i> {{nrc.getConfirmados(nrc.reunion.users)}}
          <i class="ion-person color-yellow"></i> {{nrc.getPendientes(nrc.reunion.users)}}
          <i class="ion-person color-red"></i> {{nrc.getRechazados(nrc.reunion.users)}}
        </div>
	    </div>
			<label class="item item-input item-select">
				<div class="input-label">
					{{ 'REPETIR' | translate }}
				</div>
		    <select ng-model='nrc.reunion.repetir'>
		      <option>{{ 'NUNCA' | translate }}</option>
		      <option>{{ 'TODOSLOSDIAS' | translate }}</option>
		      <option>{{ 'CADASEMANA' | translate }}</option>
		      <option>{{ 'CADADOS' | translate }}</option>
		      <option>{{ 'CADAMES' | translate }}</option>
		      <option>{{ 'CADAANO' | translate }}</option>
		    </select>
		  </label>
      <label class="item item-input">
        <span class="input-label">{{ 'HASTA' | translate }}</span>
        <input type="date" ng-model='nrc.reunion.hasta'>
      </label>
      <ul class="list">
			  <li class="item item-toggle">
			     {{ 'ALERTAS' | translate }}
			     <label class="toggle toggle-yellow">
			       <input type="checkbox" checked ng-model="nrc.reunion.alertas">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
    </ul>
    <button class="button button-block bg-color-green" ng-click="nrc.cambiarEstatus(nrc.reunion, 3)" ng-show="nrc.reunion._id != undefined && nrc.reunion.estatus == 1">Iniciar Reunión</button>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>




