<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="irc.toggleLeft()">
    </button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='irc.finalizar()'></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<span class="font-light">Reunión</span>
	</ion-nav-title>
	<ion-content>
		<div class="row">
			<div class="col col-75" ng-class="(irc.verBarra) ? 'col col-75' : 'col' ">
				<div class="row">
					<div class="col">
						<div class="button-bar">

							<button class="button bg-color-green icon ion-arrow-swap" ng-click="irc.guardar()"  ></button>
						  <button class="button button-small icon ion-arrow-left-a" ng-click="irc.reunionAnterior()" ng-disabled="!irc.getAnterior()"></button>
						  <button class="button button-small icon ion-arrow-right-a" ng-click="irc.reunionSiguiente()" ng-disabled="!irc.getSiguiente()"></button>

						  <button class="button button-small icon ion-folder"></button>
						  <button class="button button-small icon ion-email" ng-click="rc.enviarCorreo(irc.reunion)"></button>
						  <button class="button button-small icon ion-trash-a" ng-click="irc.eliminar(irc.reunion)"></button>
						  <button class="button button-small icon ion-mic-a"></button>
						  <button class="button button-small icon ion-ios-star" ng-click="irc.favorita()"></button>
						  <button class="button button-small icon ion-close" ng-click="irc.cerrar()"></button>
						  <button ng-class="(irc.verBarra) ? 'button button-small icon ion-chevron-right': 'button button-small icon ion-chevron-left' " ng-click="irc.verBarra = !irc.verBarra"></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-75">
						<div class="card" style="margin: 5px !important;">
						  <div class="item">
						    <p>Categoria : {{irc.reunion.categoria.nombre}}</p>
								<p>Revisión :</p>
								<p>Convoca : {{irc.reunion.convoca}}</p>
								<div datetime ion-datetime-picker ng-model="irc.reunion.fechaIniciada" button-ok="Aceptar" button-cancel="Cancelar" monday-first>
					        Inicio real : {{irc.reunion.fechaIniciada | date: "dd-MM-yyyy H:mm:ss"}} <button class="button button-small icon ion-ios-time-outline bg-color-green"></button>
						    </div>
						  </div>
						</div>
					</div>
					<div class="col-25">
						<div class="card" style="margin: 5px 5px 0px 3px;">
						  <div class="item">
							  Duración <button class="button button-small"><i class="icon ion-stop"></i></button><br/>
							  <button class="button icon ion-pricetag button-small"></button>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card" style="margin: 0px !important;">
						  <div class="item">
								<div class="input input-inset">
									<span class="input-label">Participantes</span>
									<!-- Agregar nuevos participantes -->
									<a class="button button-icon icon ion-plus pull-right" ng-click="irc.selParticipantes()"></a>
									<!-- Agregar botón por cada participante -->
									<button ng-class="participante.asistio == true ? 'bg-color-green' : 'button-dark'" class="button button-small" ng-repeat="participante in irc.reunion.users"  on-double-tap="irc.agregarParticipanteNotas(participante)" on-hold="irc.mostrarOpcionesParticipantes(participante, $index)" on-tap="irc.asistencia(participante)">{{participante.invitado.profile.name}}</button>
								</div>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="item item-input">
					    <textarea placeholder="Escribe tus Notas"
					    ng-model="irc.reunion.notas"
							id="notas"
							rows="27"
							ng-keyup="irc.expandText()"
							ng-keydown="irc.expandText()"></textarea>
					  </label>
					</div>
				</div>
			</div>
			<div class="col col-25" ng-show="irc.verBarra">
				
				<div class="card">
				  <div class="item item-divider inicioReunionCard">
				    Ubicación
				  </div>
				  <div class="item item-text-wrap">
				    {{irc.reunion.ubicacion}}
				  </div>
				</div>
				
				<div class="card bounceInRight" style="height: 200px">
				  <div class="item item-divider inicioReunionCard">
				    Temas
				  </div>
				  <div class="item item-text-wrap">
					  <ion-scroll direction="y" style="height: 200px">
					    <ul class="list ">
						    <li class="item" ng-repeat="tema in irc.reunion.todosTemas" on-double-tap="irc.agregarTemaNotas(tema)" ng-class="(tema.seleccionado == false) ? '' : 'bg-color-green'  " style="padding-top: 5px; padding-bottom: 5px;">
						    	<span ng-show="tema.seleccionado == false">{{tema.nombre}}</span>
						      <span ng-show="tema.seleccionado == true"><strong>{{tema.nombre}}</strong></span>
						    </li>
							</ul>
					  </ion-scroll>
				  </div>
				</div>
				
				<div class="card">
				  <div class="item item-divider inicioReunionCard">
				    Medios
				    <a ng-click="irc.mostrarMedios()" class="item-icon-right">
					    <i class="icon ion-plus" style="font-size: 14pt;"></i>
					  </a>
				  </div>
				  <div class="item item-text-wrap">
				    <ion-scroll direction="y" style="height: 100px">
							<div class="list">
							  <a class="item item-icon-left" ng-click="irc.reproducir(medio)" ng-repeat="medio in irc.medios">
							    <i ng-class="(medio.tipo == 'foto') ? 'icon ion-image' : (medio.tipo == 'audio') ? 'icon ion-mic-a' : 'icon ion-videocamera'" ></i>
							  </a>
							</div>
					  </ion-scroll>
				  </div>
				</div>
				
				<div class="card">
				  <div class="item item-divider inicioReunionCard">
				    Acuerdos retrasados
				  </div>
				  <div class="item item-text-wrap">
				    This is a 
				  </div>
				</div>
				
				<div class="card">
				  <div class="item item-divider inicioReunionCard">
				    Acuerdos
				    <a ui-sref="app.agregarAcuerdo({reunionId : irc.reunion._id})" class="item-icon-right">
					    <i class="icon ion-plus" style="font-size: 10pt;"></i>
					  </a>
				  </div>
				  <div class="item item-text-wrap">
				    <ion-scroll direction="y" style="height: 200px">
					    <ul class="list">
						    <li class="item" ng-repeat="acuerdo in irc.acuerdos">
						      {{acuerdo.titulo}}
						    </li>
							</ul>
					  </ion-scroll>
				  </div>
				</div>
				
				<div class="card">
				  <div class="item item-divider inicioReunionCard">
				    Siguiente reunión
				  </div>
				  <div class="item item-text-wrap">
				    This is a 
				  </div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>