

<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Audio</h1>
    <button class="button button-clear color-black button-primary" ng-click="irc.cerrarModalAudio()">Listo</button>
  </ion-header-bar>
  <ion-content>
		<ion-slide-box >
		  <ion-slide class="box" ng-repeat="audio in irc.audios">
		  	
		  	<div class="row">
			    <div class="col">
			      <center>
			        <div data-tap-disabled="true" >
			        <audio controls >                                        
			               <source src="{{audio.data}}" >                                                     
			        </audio>
			        </div>
			      </center>
			    </div>  
			</div>
		  
		  </ion-slide>
		</ion-slide-box>
  </ion-content>
</ion-modal-view>
<style>
	.bar.bar-header {
	  background-color: #82e79d;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>