<ion-view class="layouts-view">
	
	  <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
	    <button menu-toggle="right" class="button button-icon icon ion-plus" ui-sref="app.nuevaReunion"></button>
	  </ion-nav-buttons>
	  <ion-nav-title>
	    <span class="font-light">{{ 'REUNIONES' | translate }}</span>
	  </ion-nav-title>
	
  <div class="bar bar-subheader menuSuperior" style="height: {{rc.deviceWidth / 1.5}}px;" ng-show="!rc.isIPad">
	  <a class="button hoy" ng-click="rc.cambiarFiltro('hoy')"> 
	  	<i class="fa fa-check" style="font-size: 50pt; color: white; margin-top:10px;"></i><br/>
	  	<div style="font-size: 20pt; color: white; margin: -10px 0px 0px 0px; ">{{rc.hoy.length}}</div>
	  	<div style="font-size: 12pt; color: white; margin: -5px 0px 0px 0px; ">{{ 'HOY' | translate }}</div>
	  </a>
	  <a class="button semana" ng-click="rc.cambiarFiltro('semana')">
		  <i class="fa fa-calendar-o" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/>
		  <div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{rc.semana.length}}</div>
		  <div style="font-size: 9pt; color: white; margin: -15px 0px 0px 0px;">{{ 'SEMANA' | translate }} </div>
		</a>
	  <a class="button mes" ng-click="rc.cambiarFiltro('mes')">
	  	<i class="fa fa-calendar" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/> 
	  	<div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{rc.mes.length}}</div>
	  	<div style="font-size: 8pt; color: white; margin: -15px 0px 0px 0px">{{ 'MES' | translate }} </div>
	  </a>
	  <a class="button proxima" ng-click="rc.cambiarFiltro('todas')"> 
	  	<i class="fa fa-calendar" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/>
	  	<div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{rc.reuniones.length}}</div>
	  	<div style="font-size: 8pt; color: white; margin: -15px 0px 0px 0px">{{ 'TODAS' | translate }} </div>
	  </a>
	  <a class="button futuro" ng-click="rc.cambiarFiltro('futuro')"> 
	  	<i class="fa fa-calendar-plus-o" style="font-size: 15pt; color: white; margin-top:10px;"></i><br/>
	  	<div style="font-size: 15pt; color: white; margin: -12px 0px 0px 0px; ">{{rc.futuro.length}}</div>
	  	<div style="font-size: 8pt; color: white; margin: -15px 0px 0px 0px">{{ 'FUTURO' | translate }} </div>
	  </a>
	  <button style="width: 0px; height: 0px;" ng-show="false"></button>
	</div>
  <ion-content ng-class="!rc.isIPad ? 'listaInferior':''">
  	<div class="divider-title">{{ 'VENCIDAS' | translate }}</div>
    <ul class="timeline" id="hoy" ng-show="rc.fhoy">
      <li ng-repeat="reunion in rc.vencidas | orderBy:'fecha'">
      	<a ng-click="rc.detalleReunion(reunion)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-red timeline-icon">
            <i class="ion-close-round text-white" aria-hidden="true"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light">{{reunion.titulo}}</h4>
            <i class="icon ion-chevron-right icon-accessory" style="top: 20; position: absolute; right: 5px; color: #ccc; font-size: 16px;"></i>
            <p>{{reunion.ubicacion}}</p>	            
            <div class="timeline-stats">
              <i class="ion-person color-green"></i> {{rc.getConfirmados(reunion.users)}}
		          <i class="ion-person color-yellow"></i> {{rc.getPendientes(reunion.users)}}
		          <i class="ion-person color-red"></i> {{rc.getRechazados(reunion.users)}}
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{reunion.horaInicio|date:"HH:mm"}} </span>
            </div>
          </div>
      	</a>
      </li>
    </ul>
	  <div class="divider-title">{{ 'HOY' | translate }}</div>
    <ul class="timeline" id="hoy" ng-show="rc.fhoy">
      <li ng-repeat="reunion in rc.hoy | orderBy:'fecha'">
      	<a ng-click="rc.detalleReunion(reunion)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-yellow timeline-icon">
            <i class="fa fa-check text-white" aria-hidden="true"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light">{{reunion.titulo}}</h4>
            <i class="icon ion-chevron-right icon-accessory" style="top: 20; position: absolute; right: 5px; color: #ccc; font-size: 16px;"></i>
            <p>{{reunion.ubicacion}}</p>	            
            <div class="timeline-stats">
              <i class="ion-person color-green"></i> {{rc.getConfirmados(reunion.users)}}
		          <i class="ion-person color-yellow"></i> {{rc.getPendientes(reunion.users)}}
		          <i class="ion-person color-red"></i> {{rc.getRechazados(reunion.users)}}
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{reunion.horaInicio|date:"HH:mm"}} </span>
            </div>
          </div>
      	</a>
      </li>
    </ul>
    <div class="divider-title">{{ 'SEMANA' | translate }}</div>
    <ul class="timeline" id="semana" ng-show="rc.fsemana">
      <li ng-repeat="reunion in rc.semana | orderBy:'fecha'">
        <a ng-click="rc.detalleReunion(reunion)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-green timeline-icon">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light">{{reunion.titulo}}</h4>
            <i class="icon ion-chevron-right icon-accessory" style="top: 20; position: absolute; right: 5px; color: #ccc; font-size: 16px;"></i>
            <p>{{reunion.ubicacion}}</p>
            <div class="timeline-stats">
              <i class="ion-person color-green"></i> {{rc.getConfirmados(reunion.users)}}
		          <i class="ion-person color-yellow"></i> {{rc.getPendientes(reunion.users)}}
		          <i class="ion-person color-red"></i> {{rc.getRechazados(reunion.users)}}
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{reunion.horaInicio|date:"dd-MM-yyyy HH:mm"}} </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="divider-title">{{ 'MES' | translate }}</div>
    <ul class="timeline" id="mes" ng-show="rc.fmes">
      <li ng-repeat="reunion in rc.mes | orderBy:'fecha'">
        <a ng-click="rc.detalleReunion(reunion)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-blue timeline-icon">
            <i class="fa fa-calendar"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light">{{reunion.titulo}}</h4>
            <i class="icon ion-chevron-right icon-accessory" style="top: 20; position: absolute; right: 5px; color: #ccc; font-size: 16px;"></i>
            <p>{{reunion.ubicacion}}</p>
            <div class="timeline-stats">
              <i class="ion-person color-green"></i> {{rc.getConfirmados(reunion.users)}}
		          <i class="ion-person color-yellow"></i> {{rc.getPendientes(reunion.users)}}
		          <i class="ion-person color-red"></i> {{rc.getRechazados(reunion.users)}}
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{reunion.horaInicio|date:"dd-MM-yyyy HH:mm"}} </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="divider-title">{{ 'FUTURO' | translate }}</div>
    <ul class="timeline" id="futuro" ng-show="rc.ffuturo">
      <li ng-repeat="reunion in rc.futuro | orderBy:'fecha'">
        <a ng-click="rc.detalleReunion(reunion)" style="text-decoration: none; ">
          <div class="timeline-thumb bg-color-red timeline-icon">
            <i class="fa fa-list"></i>
          </div>
          <div class="timeline-item">
            <h4 class="font-light">{{reunion.titulo}}</h4>
            <i class="icon ion-chevron-right icon-accessory" style="top: 20; position: absolute; right: 5px; color: #ccc; font-size: 16px;"></i>
            <p>{{reunion.ubicacion}}</p>
            <div class="timeline-stats">
              <i class="ion-person color-green"></i> {{rc.getConfirmados(reunion.users)}}
		          <i class="ion-person color-yellow"></i> {{rc.getPendientes(reunion.users)}}
		          <i class="ion-person color-red"></i> {{rc.getRechazados(reunion.users)}}
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{reunion.horaInicio|date:"HH:mm"}} </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar-header {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>