<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	</ion-nav-buttons>
	<ion-nav-title>
		<span class="font-light">{{ 'REUNIONES' | translate}}</span>
	</ion-nav-title>
	<ion-content>
		<div class="button-bar" ng-show="rc.aceptada == false">
		  <a class="button bg-color-green" ng-click="rc.cambiarEstatus(rc.reunion, 2)">Confirmar</a>
		  <a class="button bg-color-red" ng-click="rc.cambiarEstatus(rc.reunion, 6)">Rechazar</a>
		</div>
		<ul class="list">
			<ion-list can-swipe="listCanSwipe">
			  <ion-item>			
			    <h2>{{ 'TITULO' | translate}}</h2>
			    <p>{{rc.reunion.titulo}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'FECHA' | translate}}</h2>
			    <p>{{rc.reunion.fecha | date : "dd-MM-yyyy"}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'HORAINICIO' | translate}}</h2>
			    <p>{{rc.reunion.horaInicio | date : "HH:mm a"}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'HORAFIN' | translate}}</h2>
			    <p>{{rc.reunion.horaFin | date : "HH:mm a"}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'UBICACION' | translate}}</h2>
			    <p>{{rc.reunion.ubicacion}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'TEMAS' | translate}}</h2>
			    <p>{{rc.reunion.temas}}</p>
			  </ion-item>			  
			  <ion-item>			
			    <h2>{{ 'CONVOCA' | translate}}</h2>
			    <p>{{rc.reunion.convoca}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'PARTICIPANTES' | translate}}</h2>
			  </ion-item>
			  <ion-item ng-repeat="participante in rc.reunion.users" class="item-avatar" style="margin-left: 20px;">
				  <img src="{{participante.participante.profile.picture}}">
			    <h2>{{participante.participante.profile.name}}</h2>
			    <p>{{participante.participante.profile.email}}</p>
			    <i ng-if="participante.estatus == 1" class="ion-ios-circle-filled icon-size-lg color-yellow" style="top: 30px; position: absolute; right: 15px;"></i>
					<i ng-if="participante.estatus == 2" class="ion-ios-circle-filled icon-size-lg color-green" style="top: 30px; position: absolute; right: 15px;"></i>
					<i ng-if="participante.estatus == 6" class="ion-ios-circle-filled icon-size-lg color-red" style="top: 30px; position: absolute; right: 15px;"></i>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'REPETIR' | translate}}</h2>
			    <p>{{rc.reunion.repetir}}</p>
			  </ion-item>
			  <ion-item>			
			    <h2>{{ 'HASTA' | translate}}</h2>
			    <p>{{rc.reunion.hasta | date:"dd-MM-yyyy"}}</p>
			  </ion-item><!--

			  <ion-item>			
			    <h2>{{ 'ALERTAS' | translate}}</h2>
			    <p>{{rc.reunion.alertas}}</p>
			  </ion-item>
-->
			  
			</ion-list>
    </ul>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>