<ion-view class="profile-view">
  <ion-nav-title>
    <span>Perfil</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container" ng-click="profile.updatePicture()">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image" >
            <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">{{currentUser.profile.name}}</div>
        <div class="user-twitter">{{currentUser.emails[0].address}}</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="[image]"></div>
        <!-- <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div> -->
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Aquí un resumen de actividades, como una bitácora, Francissssscooooo!.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
