<ion-view class="profile-view">
  <ion-nav-title>
    <span>Perfil</span>
  </ion-nav-title>
  <ion-nav-buttons side="right" >
		<button menu-toggle="right" ng-show="pc.editar" class="button button-icon icon ion-android-checkmark-circle" ng-click='pc.actualizar()'></button>
	</ion-nav-buttons>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="square-image" >
            <img class="user-image" src="{{currentUser.profile.picture}}" spinner-on-load>
            <button class="button button-clear button-assertive" ng-click="pc.takePicture()" style="margin-top: 60%; margin-left: -100px;">Editar foto</button>
          </pre-img>
        </div>
        <div class="user-name">{{currentUser.profile.name}}</div>
        <div class="user-twitter">{{currentUser.emails[0].address}}</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="[image]"></div>
        <!-- <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div> -->
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Aquí un resumen de actividades, como una bitácora, Francissssscooooo!.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
<style>
	.bar.app-top-bar {
	  background-color: #fedc34;
	  .title, .button {
	    color: #000000 !important;
	    * {
	      color: #000000 !important;
	    }
	  }
	}
</style>