<ion-view class="forms-view">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-clear button-positive" ng-click='ncc.save()'>Guardar</button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Nueva Categoría</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list list-inset">
	    <label class="item item-input">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model='ncc.categoria.nombre'>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Color</span>
        <button class="button" color-picker="" color-mode="name" ng-model="ncc.categoria.color" modal-title="Color" color-box="{{ncc.categoria.color}}">
              {{&apos;          &apos; }} 
            </button>
      </label>  
      <tags-input placeholder="Agregar Tema"  ng-model="ncc.categoria.temas" replace-spaces-with-dashes="false"></tags-input>    
    </ul>
  </ion-content>
</ion-view>
