<ion-view class="layouts-view">
  <ion-nav-title>
    <span class="font-light">{{ 'PREFERENCIASREUNION' | translate}}</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-android-checkmark-circle" ng-click='prc.guardar()'></button>
	</ion-nav-buttons>
  <ion-content>
    <div class="list">
	    <label class="item item-input">
        <span class="input-label">{{ 'DURACION' | translate }}</span>
        <input type="number" ng-model="prc.preferencia.duracionReunion">
      </label>
      <div class="item">
	      <div class="row">
	      	<div class="col">
	      		<span class="input-label">{{ 'PRIMERA' | translate }}</span>
	      	</div>
	      </div>
	      <div class="row">
	      	<div class="col">
	      		<input type="number" ng-model="prc.preferencia.numeroPrimeraAlerta" style="width: 50px;">
	      	</div>
	      	<div class="col">
	      		<select ng-model="prc.preferencia.tiempoPrimeraAlerta">
				      <option value="minutes">{{ 'MINUTOS' | translate }}</option>
				      <option value="hours">{{ 'HORAS' | translate }}</option>
				      <option value="days">{{ 'DIAS' | translate }}</option>
				    </select>
	      	</div> 
	      	<div class="col col-33" style="text-align: right;">
	      		<button class="button button-small" ng-class="prc.preferencia.lapsoPrimeraAlerta == 'Antes' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoPrimeraAlerta" ng-click="prc.preferencia.lapsoPrimeraAlerta = 'Antes'">
				      Antes
				    </button>
				    <button class="button button-small" ng-class="prc.preferencia.lapsoPrimeraAlerta == 'Despues' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoPrimeraAlerta" ng-click="prc.preferencia.lapsoPrimeraAlerta = 'Despues'">
				      Después
				    </button>
	      	</div>
	      </div>		   
		  </div>
		  <div class="item">
	      <div class="row">
	      	<div class="col">
	      		<span class="input-label">{{ 'SEGUNDA' | translate }}</span>
	      	</div>
	      </div>
	      <div class="row">
	      	<div style="width: 20%;">
	      		<input type="number" ng-model="prc.preferencia.numeroSegundaAlerta" style="width: 50px;">
	      	</div>
	      	<div class="col">
	      		<select ng-model="prc.preferencia.tiempoSegundaAlerta">
				      <option value="minutes">{{ 'MINUTOS' | translate }}</option>
				      <option value="hours">{{ 'HORAS' | translate }}</option>
				      <option value="days">{{ 'DIAS' | translate }}</option>
				    </select>
	      	</div>
	      	<div class="col col-33" style="text-align: right;">
	      		<button class="button button-small" ng-class="prc.preferencia.lapsoPrimeraAlerta == 'Antes' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoPrimeraAlerta" ng-click="prc.preferencia.lapsoSegundaAlerta = 'Antes'">
				      Antes
				    </button>
				    <button class="button button-small" ng-class="prc.preferencia.lapsoPrimeraAlerta == 'Despues' ? 'Activated' : ''" ng-model="prc.preferencia.lapsoPrimeraAlerta" ng-click="prc.preferencia.lapsoSegundaAlerta = 'Despues'">
				      Después
				    </button>
	      	</div>
	      </div>
		  </div>
      <label class="item">
		    <span class="input-label">{{ 'LEYENDA' | translate }}</span>
		  </label>
      <div class="item item-input item-floating-label">
	      <span class="input-label">{{ 'REPROGRAMACION' | translate }}</span>
	      <textarea type="text" placeholder="Reprogramación" ng-model="prc.preferencia.plantillaCorreoReprogramar" rows="3" style="width: 100%; background-color: transparent;"></textarea>
		  </div>
		  <div class="item item-input item-floating-label">
	      <span class="input-label">{{ 'CANCELACION' | translate }}</span>
	      <textarea type="text" placeholder="Cancelación" ng-model="prc.preferencia.plantillaCorreoCancelar" rows="3" style="width: 100%; background-color: transparent;"></textarea>
		  </div>
		  <div class="item item-input item-floating-label">
	      <span class="input-label">{{ 'ELIMINAR' | translate }}</span>
	      <textarea type="text" placeholder="Eliminar" ng-model="prc.preferencia.plantillaCorreoEliminar" rows="3" style="width: 100%; background-color: transparent;"></textarea>
		  </div>
    </div>
  </ion-content>
</ion-view>